

*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --dark:rgb(14,73,74);
    --white:rgb(241,241,244);
    --dark2: rgb(85,28,112);
    --light:rgba(180,200,136, .15);
    --light2:rgb(116,115,186);

}
.menuIcon {
    height: 7vh;
    width: 7vh;
    background-image: url(./book.png);
    background-size: cover;
    }
body{
    font-family: 'Raleway', sans-serif;
    background-color: white;
}
nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 13vh;
    position: sticky;
    width: 100%;
    padding: 2% 10% 2% 2%;
    list-style: none;
    background-color:var(--light);
    color: var(--dark);
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
nav img{
    height: 8vh;
    width: 8vh;
    border-radius: 50%;
}
.headline{
    letter-spacing: 2px;
    word-spacing: 10px;
    font-size: 150%;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    height:60vh;
    width:100%;
    background-image: url('./tao.jpg');
    background-repeat: no-repeat, no-repeat;
    background-size: cover;
}
.colorLayer{
    height: 100%;
    width: 100%;
    background-color: rgba(85,49,112,.3);


}
#intro{
    background-color: var(--dark);
    height:auto;
}
.mainContent{
    background-color: var(--light);
}
.description{
    color:var(--white);
    padding:17% 13%;
    font-size: 200%;
    font-weight: 800;
    letter-spacing: 2px;
    word-spacing: 4px;
    text-align: center;
}
.subHead{
    font-size: 120%;
    font-weight: 500;
    letter-spacing: 2px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left:5%;
    width: 100%;
    color: var(--dark);
    background-color: var(--light);
    height: 13vh;
    border-bottom: 2px solid var(--dark2);
    border-top: 2px solid var(--dark2);
}
.button{
    /* height: 25vh; */
    display:flex;
    justify-content: center;
    align-items: center;
    padding:15%;
}
.button p {
    display:flex;
    justify-content: center;
    align-items: center;
    width:43%;
    color: var(--white);
    text-align: center;
    background-color: var(--dark2);
    border: 1px solid var(--light);
    padding: 5%;
    border-radius: 50%;
    height:25vh;
    width:25vh;
    letter-spacing: 1px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.contentBox{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-left: -25%;
    margin-bottom: 5%;
    height: 40vh;
    width: 150%;
    border: 2px solid #f7f7f7;
}
.mediaBox{
    border: 1px solid var(--light2);
}
#media1, #media3 {
    width: 40%;
    height: 88%;
}
#media2 {
    width: 64%;
    height: 95%;    
}
.spacer{
    width: 3%;
}